
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.hero {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.948);
}



.hero .content {
    padding-inline: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero .content .text {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero .content .text h1 {
    margin-bottom: 10px;
    font-size: 70px;
    font-weight: bolder;
}

.hero .content .text h2 {
    margin-bottom: 20px;
    font-size: 25px;
}

.hero .content .text p {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
    color: gray;
}

.hero .content .text button {
    padding: 10px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.hero .content .text button:hover {
    background-color: rgba(0, 0, 0, 0.651)
} 


.bulb {
    width: 40%;
}

.bulb img {
    max-width: 100%;
}


label {
    align-self: flex-start;
    margin: 30px;
}

input {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: black;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s ease-in;
}

.check::after {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}

input:checked ~ .check::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
}


input:checked ~ .check {
    background-color: white;
}


@media (max-width:768px) {
    .bulb{
        order: -1;
    }
    
    .hero .content {
        padding-inline: 50px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column ;
        justify-content: center;
        align-items: center;
    }

    .hero .content .text {
        font-size: 50px;
        width: 100%;
    }


    .check {
        position: absolute;
        right: 4rem;
    }   

}


@media (max-width:400px) {

    .hero .content {
        padding: 10px;
    }

    .hero .content .text {
        display: flex;
        width: 100%;
    }

}



@media (max-width : 430px) {
    .bulb {
        padding-top: 20px;
    }

    .check {
        margin-top: -20px;
    }
}